* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Uchen", serif;
    font-weight: 400;
    font-style: normal
}

.all-content {
    background: #2e1700;
}
/* navbar */
.navbar {
    background-color: #573818;
    padding-left: 50 px;
    font-weight: bold;
}
#logo {
    font-size: 23px;
    color: white;
}
#logo img {
    margin-bottom: 15px;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-link {
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}
.nav-link:hover{
    background-color: rgb(161,109,14,1);
    color: white;
    border-radius: 5px;
}
.icons{
    margin-left: 30px;
    color: white;
}
.icons i{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icon i:hover{
    transform: translateY(-5px);
}
@media screen and (max-width:330px){
    #logo{
        font-size: 15px;
    }
} 
/* navbar end */
#me{
    background-color: gray;
}

.about-section {
    padding: 100px 0;
}
    
.footer-section {
    background-color: #f8f9fa;
    padding: 20px 0;
}
    